################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UIAuto/.vs
/UIAuto/UIAuto/obj
/UIAuto/UIAuto/bin/Debug/net8.0
